node_modules/
.next/
/out/
/build
.env
.env.local
.superpooks-tmp/
.superpowers/
.postgres/
.pgdata/
design/.thumbnail
test-results/
playwright-report/

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
